/*
GLOBAL
*/

section {
    /* Positioning */
    position: relative;
    /* Box-model */
    width: 960px;
    height: 500px;
    margin: auto;
    /* Typography */
    font-family: Helvetica;
}


/*
section class="presentation"
*/

.presentation {
    background-image: url("../images/presentation.png");
}

.presentation h1 {
    /* Positioning */
    position: absolute;
    top: 47px;
    left: 312px;
    /* Typography */
    color: white;
    font-size: 64px;
    line-height: 74px;
}

.presentation h2 {
    /* Positioning */
    position: absolute;
    top: 300px;
    left: 80px;
    /* Box-model */
    width: 320px;
    height: 85px;
    padding: 20px;
    /* Typography */
    font-size: 36px;
    color: #FFFFFF;
    line-height: 42px;
    /* Visual */
    background-color: #7299FE;
    border-radius: 10px;
    /* Misc */
    opacity: 0.5;
}


/*
section class="about-me"
*/

.about-me {
    height: 424px;
    background-color: #7299FE;
}

.about-me div {
    padding: 40px;
    height: 344px;
}

.about-me h2 {
    /* Positioning */
    text-align: center;
    /* Box-model */
    line-height: 41px;
    padding-bottom: 20px;
    /* Typography */
    font-size: 36px;
    color: #1D06A7;
    font-style: normal;
    font-weight: bold;
}

.about-me p {
    /* Positioning */
    position: relative;
    /* Box-model */
    line-height: 24px;
    padding-bottom: 20px;
    /* Typography */
    font-family: Arial;
    font-size: 14px;
    color: #F8F8F8;
}

.about-me button {
    /* Positioning */
    position: relative;
    /* Box-model */
    width: 190px;
    height: 65px;
    /* Typography */
    font-size: 22px;
    font-weight: bold;
    color: #FFFFFF;
    /* Visual */
    background-color: #d16fff;
    border-color: #d16fff;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/*
section class="mis-skills"
*/

.my-skills {
    height: 370px;
    background-color: #9022FF;
}

.my-skills h2 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    color: #26CC4B;
    font-size: 36px;
}

.my-skills table {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 0%;
    padding-top: 0%;
    display: flex;
    justify-content: space-evenly;
    line-height: 35px;
}

.my-skills h3 {
    display: block;
    font-size: 18px;
    color: white;
}

.my-skills div {
    border-right: 1px solid #f6f6f6;
    border-left: 200px solid #57EFF9;
    border-radius: 10px;
    background-color: #f6f6f6;
    width: 200px;
    height: 15px;
    margin: 10px;
    display: block;
}


/*
section class="portafolio"
*/

.portafolio {
    height: 400px;
    background-color: #FFD233;
}

.portafolio h2 {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 40px;
    color: #00AD84;
    font-size: 36px;
    font-weight: bold;
}

.portafolio div {
    display: flex;
    justify-content: space-evenly;
    padding-left: 200px;
    padding-right: 200px;
}

.portafolio figure {
    margin: 5px;
}


/*
section class="clientes"
*/

.clientes {
    height: 258px;
    background-color: #3F4E62;
}

.clientes h2 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 5px;
    color: #ADFF28;
    font-size: 36px;
}

.clientes div {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
    align-items: center;
}


/*
section class="contacto"
*/

.contacto {
    text-align: center;
    height: 500px;
    background-color: #1687A0;
}

.contacto h2 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #FF1B1B;
    font-size: 36px;
}

.contacto input {
    width: 30%;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 1px solid #BFBFBF;
}

.contacto input:valid {
    border-color: rgb(130, 221, 130);
}

.contacto input:invalid {
    border-color: red;
}

.contacto div input {
    width: 68%;
    height: 59px;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 1px solid #BFBFBF;
}

.contacto button {
    margin-left: auto;
    margin-top: 10px;
    padding: 10px 30px 10px 30px;
    font-size: 20px;
    color: white;
    background-color: #233451;
    border-color: #233451;
}