.presentation {
    background-image: url("../images/presentation.png");
}

.about-me {
    background-color: #7299FE;
    ;
}

.my-skills {
    background-color: #9022FF;
}

.portafolio {
    background-color: #FFD233;
}

.clientes {
    background-color: #3F4E62;
}

.contacto {
    background-color: #1687A0;
}